
.card {
	background: #fff;
	border-radius: 0.5rem;
	padding: 1.4rem;
	width: 320px;
	height: 470px;
	flex: 1 0 320px;
	margin: 0.5rem;
	box-sizing:border-box;
	position: relative;
	box-shadow: 0 2px 4px rgba(0,0,0,0.15);

	.card-inner {
		position:relative;
		display: flex;
    	flex-flow: column;
    	height: 100%;

    	.btn {
    		margin-top: auto;
    		justify-self: flex-end;
    		align-self: flex-end;
    	}
	}

	.thumbnail-container {
		height: 10rem;
		position: relative;

		&::before {
			content: '';
			display: block;
			background-color: $teal;
			height: 50%;
			width: 100%;
			position: absolute;
			border-radius: 0.15rem;
		}
		img {
			width: 8rem;
			height: 8rem;
			border-radius: 50%;
			border: 0.3rem solid #fff;
			position: absolute;
			object-fit: cover;
    		object-position: top center;
    		margin: 1rem;
		}
	}

	.info {
		span {
			font-family: $gloriola-med;
		}
	}
	label {
		margin-left: 0.2rem;
	}

	.fullname {

	}
	.bio {
		color: $primary-blue;
	}

/*

	@media screen and (max-width: $medium-width) {
		width: 33%;
		flex: 0 1 33%;
	}
	@media screen and (max-width: $small-width) {
		width: 50%;
		flex: 0 1 50%;
	}
	@media screen and (max-width: $xsmall-width) {
		width: 100%;
		flex: 0 1 100%;
	}*/
}
.card-container {
	display: flex;
	flex-flow: row wrap;
	background: $medium-gray;
	padding: 0.5rem;
}